@model ShopDienThoai.ModelViews.MuaHangSuccessVM

@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h1 style="text-align:center">Đặt hàng thành công</h1>
<br />
<br />
<br />
<br />
<br />
<br />